.spinner{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.contentBox{
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    width: 350px;
}

.quizContent{
    background: #fff;
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
}

.nextQuestion{
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
}